.movie-item {
  display: grid;
  grid-template-areas:
    'poster title rating'
    'poster release-date release-date'
    'poster tags tags'
    'poster description description'
    'poster rate-input rate-input';
  grid-template-columns: 18fr 20fr 3fr;
  grid-template-rows: 45fr 25fr 25fr 125fr 50fr;
  width: 500px;
  height: 280px;
  padding: 0 !important;

  @media (max-width: 1035px) {
    padding: 10px !important;
    width: 100%;
    height: fit-content;
    grid-template-areas:
      'poster title rating'
      'poster release-date release-date'
      'poster tags tags'
      'description description description'
      'rate-input rate-input rate-input';
    grid-template-columns: 6fr 25fr 3fr;
    grid-template-rows: auto auto 5fr fit-content(90px) 5fr;
  }

  &__poster {
    grid-area: poster;

    & img {
      @media (max-width: 1035px) {
        width: calc(60 / 420 * 100vw) !important;
        height: calc(90 / 420 * 100vw) !important;
      }
    }
  }

  &__title {
    grid-area: title;

    &--overflow {
      animation-name: infiniteScroll;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &__release-date {
    grid-area: release-date;
    // height: 30px;
  }

  &__tags {
    grid-area: tags;
  }

  &__description {
    align-self: center;
    grid-area: description;
    height: 100px;
    @media (max-width: 1035px) {
      height: fit-content;
      max-height: 100px;
    }
  }

  &__rating {
    grid-area: rating;
    align-self: center;
  }

  &__rate-input {
    align-self: center;
    grid-area: rate-input;
    @media (max-width: 1035px) {
      justify-self: end;
      margin-right: 10px;
    }
  }
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(0px - 50%));
  }
}
